.button {
    font-family: Quicksand;
    position: relative;
    background-color: #58AF71;
    border: none;
    border-radius: 10px;
    font-size: 26px;
    color: #FFFFFF;
    margin: 0 0 0 91px;
    padding: 5px 0 5px 0;
    height: 40px;
    width: 371px;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.button:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

#button_check_stock_m {
    margin: 0 0 0 17px;
}

#button_mat_doc {
    margin: 0 0 0 106px;
}

#button_persons {
    background-color: #44917c;
    font-family: Quicksand;
    height: 40px;
    width: 80px;
    padding: 0;
    margin: 0;
}

#button_remove_persons {
    background-color: #91221e;
    font-family: Quicksand;
    height: 40px;
    width: 110px;
    padding: 0;
    margin: 0;
}

#button_reset_persons {
    background-color: #1C2C91;
    font-family: Quicksand;
    height: 40px;
    width: 100px;
    padding: 0;
    margin: 0;
}